
<head>
    <%- include('./partials/header.ejs') %>
    <title>Vacation Planner Index</title>
</head>
<body>
    
    <div class='header-img-div'>
        <!-- <img class='header-img' src="https://cdn.uconnectlabs.com/wp-content/uploads/sites/7/2017/08/pexels-photo-297755-840x549.jpeg?v=22826"> -->
        
        <div class="h2-div">
            <h2 class='h2-title'>Wanderlust: <br> (n.) a strong desire for or impulse to <br> wander or travel and explore the world</h2>
        </div>
    </div>

    <div class="navbar">
        <ul class='ul-nav'>
            <li>
                <a class='navbar-links' href="">Home</a>
            </li>
            <li>
                <a class='navbar-links' href="">Locations</a>
            </li>
            <li>
                <a class='navbar-links' href="">Budgeting</a>
            </li>
            <li>
                <a class='navbar-links' href="">Day Schedules</a>
            </li>
            <li>
                <a class='navbar-links' href="">Travel-Notes</a>
            </li>
        </ul>
      </div>
   
    <div class='h3-div'>
        <h3>Adventure</h3>
        <h3 class='right-h3'>Awaits...</h3>
        <img src='https://q3p9g6n2.rocketcdn.me/wp-content/ml-loads/2016/05/travel-search-suitcasebeach-ss-1920.png' width='600px'>
    </div>
     
    <div class='text-div'>
       <p>Let's plan a vacation! <br> This vacation planner gives you a place to organize and write about upcoming trips. It doesnt matter where you're going or who you're traveling with, plan it here just for fun!</p>
    </div>

    <div class='button-div'>
        <button class='start' onclick="window.location.href='planner/new'"> Start Planning</button>
    </div>

      <footer>
          <ul class="footer-ul">
              <li>Made in Denver CO &hearts;</li>
              <li>&#169;2021</li>
              <li>Contact Me!</li>
          </ul>
      </footer>

</body>
</html>