<head>
    <%- include('./partials/header.ejs') %>
    <title>Vacation Planner Index</title>
</head>
<body>
    
    <div class='header-img-div'>
        <!-- <img class='header-img' src="https://cdn.uconnectlabs.com/wp-content/uploads/sites/7/2017/08/pexels-photo-297755-840x549.jpeg?v=22826"> -->
        
        <div class="h2-div">
            <h2 class='h2-title'>Serendipity: <br> (n.) finding something good without looking for it</h2>
        </div>
    </div>

    <div class="navbar">
        <ul class='ul-nav'>
            <li>
                <a class='navbar-links' href="/planner">Home</a>
            </li>
            <li>
                <a class='navbar-links' href="/tips">Travel Tips</a>
            </li>
            <li>
                <a class='navbar-links' href="">Travel-Notes</a>
            </li>
        </ul>
      </div>
   


      <footer>
          <ul class="footer-ul">
              <li>Made in Denver CO &hearts;</li>
              <li>&#169;2021 Vacation Planner</li>
              <li><a class='email'href="mailto: samantha.sammy21@gmail.com">Contact Me</a></li>
          </ul>
      </footer>

</body>
</html>