
<head>
    <%- include('./partials/header.ejs') %>
    <title>Vacation Tips</title>
</head>
<body>

    <div class='header-img-div-locations'>
        <!-- <img class='header-img' src="https://cdn.uconnectlabs.com/wp-content/uploads/sites/7/2017/08/pexels-photo-297755-840x549.jpeg?v=22826"> -->
        
        <div class="h2-div">
            <h2 class='h2-title'>Flâneur: <br> (n.) A person who spends their time wandering</h2>
        </div>
    </div>

    <div class="navbar">
        <ul class='ul-nav'>
            <li>
                <a class='navbar-links' href="/planner">Home</a>
            </li>
            <li>
                <a class='navbar-links' href="">Locations</a>
            </li>
            <li>
                <a class='navbar-links' href="">Budgeting</a>
            </li>
            <li>
                <a class='navbar-links' href="">Day Schedules</a>
            </li>
            <li>
                <a class='navbar-links' href="">Travel-Notes</a>
            </li>
        </ul>
      </div>

      <div class='locations-blog'>
        <h3>Travel Tips!</h3>
        <br>
        <h4>DisneyLand California</h4>
        <div class='disney-div'>
            <img class='disney-img' src='https://voiceofoc.org/wp-content/uploads/2020/09/dland-EDIT-9.16.2020.jpg'>
            <img class='disney-img' src='https://cdn1.parksmedia.wdprapps.disney.com/resize/mwImage/1/640/360/75/dam/disneyland/experience-updates/mickey-character-castle-16x9.jpg?1593556896598'>
            
        </div>
    
        <div class='p-div'>
        <p>The happiest place on earth can be fun to plan for some, but others it can be stressful! Here are some personal tips on how to plan a trip to Disneyland quick and easy.
        </p>
        <br>
        <p>First, the best thing to do before booking the hotel and flights, is to find out the best time of year to go to Disney. Different times of the year have different events, shows, promotions, and even capacities of the parks. I personally like to plan around the weather. During the summer the park volume will be very high ad well as the temperatures. I've planned 3 trips to anahiem and my favorite time to travel there is in the spring time. April and May are great times to visit Disneyland! The ride lines are generally shorter, and the weather is perfect!</p>
        <br>
        <p>After finding a good time of year to travel to Disney, I purchase the tickets. I like to go through <a href='https://www.citypass.com/southern-california'>CityPass</a>. CityPass offeres park ticket bundles for so much less, and you can add additional themeparks or attractions to visit! Generally the tickets will expire up to 2 years after the purchase, so that gives you plenty of time to plan your trip to the happiest place on earth.</p>
        <br>
        <div class='disney-div'>
            <img class='disney-img' src='http://harlemnightssteppersball.com/wp-content/uploads/2016/04/city-pass.jpg'>
            <img class='disney-img' src='http://www.vincentvacations.com/uploads/activities/Disneyland---Anaheim-California-United-States-of-America/181916_0.jpeg'>
        </div>
        <p>Now that we have our time of year and our ticket figures out, now it's time for the fun part...Finding the hotel! I like to stay at hotels that are a good walking distance from Disneyland/California Adventure. My favorite hotel to stay at is <a href='https://stovallsinn.com/'>Best Western Plus Stovall's Inn</a>. This hotel is perfect walking distance from Disney! It is right behind California adventure, so at night if you want to relax in the pool or hottub, you have a Perfect view of the fireworks and Mickeys fun wheel! The rooms were very spaceous and accomadating, with breakfast included. The morning walk to disneyland is through Downtown Disney, so it is perfect for sight seeing, and grabbing breakfast or smoothies while walking to the parks. I have stayed at this hotel multiple times, and I highly recommend it!</p>
        <div class='disney-div'>
            <img class='disney-img' src='https://www.familyvacationcritic.com/uploads/sites/19/2017/05/pool-29.jpg'>
            <img class='disney-img' src='https://disneytrippers.com/wp-content/uploads/2020/03/Discount-Disney-Gift-Card-Red-8.jpg'>
        </div>
        <br>
        <p>Now it's Gift Card time! Target, Walmart, Walgreens, etc, these stores carry Disney gift cards. My best advice for saving money for your upcoming trip, is to buy as many of these Disney gift cards as you can. For my first 5 day disneyland trip, I bought $450.00 worth of disney giftcards, and they were worth it! Since you'll be spending most of your time in the parks, use these gift cards for snacks, drinks, lunch and dinner, and even merchindise. This really helps to keep track of what spending money, and food money you'll have for your trip.
            <br>
        </p>
        </div>
      </div>

      <div class='locations-blog'>
        <h4>Las Vegas</h4>
        <div class='vegas-div'>
            <img class='vegas-img' src='https://pix10.agoda.net/hotelImages/75/-1/450838815fb602d9fe58bba500a04a84.jpg?s=1024x768'>
            <img class='vegas-img' src='https://cdn.getyourguide.com/img/location/5ffeb496e3e09.jpeg/88.jpg'>
        </div>

        <div class='p-div'>
            <p>Vegas Baby! Here are some of my little tips for visiting the city of lights for the first time.
                <br>
            Hotels! Read the reviews of every hotel you are interested in. Personally, I've only stayed at the New York New York hotel on the strip, and the Stratosphere hotel (now called the STRAT). I really enjoyed New York New York, the room was beautiful, the hotels in the casio were fantastic, and the rollercoaster and game room were a fun little area to spend some time in! Right in the middle of the Strip, it was very quick and easy to sight see and roam around the strip. I really recommend taking a lyft or uber if you want to travel farther down the strip toward the Strat, or even fremont street.
            </p>
            
            <div class='vegas-div'>
                <img class='vegas-img' src='https://1pg6x1158j2c3wpy0512zgcs-wpengine.netdna-ssl.com/wp-content/uploads/2020/05/upgraded-viva-vision-17.jpg'>
                <img class='vegas-img' src='https://media2.trover.com/T/5d2350db6e1f1f4ef8006af5/fixedw.jpg'>
            </div>
            <br>
            <p>When in Vegas, Have some Fun! At the Strat, I experienced the Sky Jump. It was very thrilling and fun, if you want a quick thrilling experience, the Sky jump is definetly for you. I made the mistake of walking the 4.5 miles from New York New York to the Strat hotel, in sandles without sunscreen. Don't make the same mistake as I did, take the uber and save yourself some feet pain and sunburns! While touring the strip, make sure to walk through each hotels casino. There are some incredible decor in the strip hotels, theyre definetly worth seeing.</p>
        </div>
        <div class='vegas-div'>
            <img class='vegas-img' src='https://assets.simpleviewcms.com/simpleview/image/fetch/c_fill,g_center,h_610,q_75,w_814/https://lasvegas.simpleviewcrm.com/images/listings/original_The-STRAT-Hotel--Casino-and-SkyPod-2019A-8a96aa2f0a44a73.jpg'>
            <img class='vegas-img' src='https://www.fodors.com/wp-content/uploads/2019/10/ThingstoKnowLasVegas__HERO_shutterstock_708501844.jpg'> 
        </div>

      <footer>
          <ul class="footer-ul">
              <li>Made in Denver CO &hearts;</li>
              <li>&#169;2021 Vacation Planner</li>
              <li>Contact Me!</li>
          </ul>
      </footer>

</body>
</html>